<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.otrsapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OtrsApp</name>
    <description>
       a otrs(Open-source Ticket Request System) app base on ionic
    </description>
    <author email="little51@126.com" href="https://github.com/little51/">
        simon gao
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
